<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/7526f4dec5.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <nav>
        <ul>
            {% if logged_in == True %}
               <li><a href="/profile/{{user}}"><i class="fa fa-user" style="font-size:36px"></i></a></li>
               <li><a href="#"><i class="fa-solid fa-comment-dots" style="font-size: 36px;" ></i></a></li>
               <li><a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket" style="font-size: 36px;color: red;" ></i></a></li>

            {% else %}
               <li><a href="/login"><i class="fa-solid fa-arrow-right-to-bracket" style="font-size: 36px; color: rgb(140, 251, 140);" ></i></a></li>
            {% endif %}


               
        </ul>
    </nav>

    <button id="thebutton" >+</button>

    <div id="main">

        {% for i in range(10) %}
        
           <div id="post" >
             <h1>Lion attacks meta</h1>
             <br><br>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo recusandae nostrum nisi alias odit accusantium asperiores rem ad voluptatum aspernatur est similique dolores quos nobis sequi, tempore, cupiditate quasi optio?</p>
           </div>

        {% endfor %}

    </div>

    <div id="filter"></div>


    <div id="postform" >
        <h1>Time to cook</h1>
        <br>
        <form action="#">
            <input placeholder=" Post title "  type="text" name="postheader" id="pheader">
            <br><br>
            <textarea placeholder="Post body" name="postbody" id="pbody"></textarea>
            <br><br>
            <button style="background: #000;"  class="btn" type="submit" ><i class="fa-solid fa-paper-plane"></i></button>
        </form>
    </div>

    
</body>
</html>