<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" href="./static/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/7526f4dec5.js" crossorigin="anonymous"></script>
</head>

<body>

    <nav>
        <ul>
            {% if logged_in == True %}
               <li><a href="/"><i class="fa-solid fa-house" style="font-size: 36px;" ></i></a></li>
               <li><a href="#"><i class="fa-solid fa-comment-dots" style="font-size: 36px;" ></i></a></li>
               <li><a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket" style="font-size: 36px;color: red;" ></i></a></li>

            {% else %}
               <li><a href="/login"><i class="fa-solid fa-arrow-right-to-bracket" style="font-size: 36px; color: rgb(140, 251, 140);" ></i></a></li>
            {% endif %}
               
        </ul>
    </nav>

    <div id="profilesection">
        <h1>{{user}}</h1>
        <br>
        <button style="margin-top: 30px;" class="btn"><i class="fa-solid fa-user-plus"></i></button>
        <button style="margin-top: 30px; margin-left: 15px;" class="btn"><i class="fa-solid fa-comment-dots" ></i></button>
    </div>
    
</body>
</html>